@import "/src/App.scss";

.form-input {
width: 100%;
padding: 10px;
margin-bottom: 20px;
font-size: 1rem;
border: none;
border-radius: 5px;
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.form-submit {
width: 100%;
padding: 10px;
margin-top: 20px;
background-color: $first;
color: $third;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 1rem;
transition: all 0.3s ease-in-out;
}

.form-submit:hover {
background-color: darken($first, 10%);
}

.form-link {
margin-top: 20px;
font-size: 1rem;
color: $first;
text-decoration: underline;
cursor: pointer;
}

.error-message {
color: red;
font-size: 0.9rem;
margin-top: 10px;
}

.text {
color: $first;
}


